body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
}
header{
    background-color: #007bff;
    color: white;
    padding: 1.5em 0;
}
section{
    margin: 2em auto;
    width: 80%;
}
footer{
    background-color: #222;
    color: white;
    padding: 1em 0;
}
h1{
    transition: trasnform 0.3s;
}
h1:hover{
    transform: scale(1.1);
    color: darkblue;
}